* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#logo {
  position: absolute;
  left: 46px;
  bottom: 897px;
  height: 45px;
  width: 120px;
}

header {
  background: url("freepik__upload__81959.jpeg");
  width: 100%;
  background-size: cover;
  background-repeat: round;
  height: 100vh;
  box-shadow: 0px 10px 24px 4px rgba(201, 201, 201, 1);
  overflow-x: hidden;
}

nav {
  background-color: rgba(0, 0, 0, 0);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: right;
  height: 50px;
  gap: 20px;
  margin-right: 60px;
}

.nav-item {
  margin-top: 25px;
  cursor: pointer;
}

.nav-item-register {
  margin-top: 25px;
  cursor: pointer;
}

.nav-item-login {
  margin-top: 25px;
  cursor: pointer;
}

.nav-item-cart {
  margin-top: 25px;
  cursor: pointer;
}

#registerAssets input {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 0px white solid;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}

#registerAssets input:hover {
  color: rgb(141, 141, 141);
}

.nav-item-manege {
  margin-top: 25px;
  display: none;
  cursor: pointer;
}

.logo {
  align-items: center;
}

.cart {
  color: white;
  font-size: 14px;
  transition: 0.3s;
}

.nav-link {
  color: white;
  font-size: 14px;
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: rgb(141, 141, 141);
}

.login {
  margin-left: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  padding: 10px;
  padding-left: 29px;
  padding-right: 29px;
  transition: 0.3s;
}

.navbar .nav-item-login .login:hover {
  color: rgb(58, 58, 58);
  background-color: rgb(255, 255, 255);
}

.Register {
  margin-left: -10px;
  text-decoration: none;
  color: rgb(58, 58, 58);
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
  padding-left: 23px;
  padding-right: 23px;
  transition: 0.3s;
}

.navbar .nav-item-register .Register:hover {
  color: black;
  background-color: white;
  border: 1px black solid;
}

.nav-item-account {
  margin-top: 25px;
}

.account {
  font-size: 14px;
  margin-top: 2px;
  border-left: 1px rgb(255, 255, 255) solid;
  color: white;
  padding-left: 20px;
}

#logoutButton {
  text-decoration: none;
  color: rgb(29, 29, 29);
  background-color: rgb(255, 255, 255);
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  margin-top: -6px;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
}

#logoutButton:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  border: 1px rgb(255, 255, 255) solid;
}

header .contentHeader {
  opacity: 0;
  transform: translateX(300px);
  animation: slideIn 2s ease-out forwards;
  width: 735px;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

header h5 {
  color: white;
}

header h1 {
  font-family: "Unbounded", sans-serif;
  margin-top: 30px;
  color: white;
  font-size: 64px;
}

header .pHeader {
  color: white;
  margin-top: 30px;
  margin-right: 86px;
  margin-bottom: 72px;
}

.flexHeaderContent {
  display: flex;
  justify-content: end;
  margin-top: 185px;
  margin-right: 135px;
}

header .ulNav {
  list-style-type: none;
  display: flex;
  justify-content: end;
  height: 50px;
  gap: 20px;
}

.ulHeader {
  list-style-type: none;
  display: flex;
  height: 50px;
  gap: 20px;
}

.productsHeader {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 24px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  transition: 0.3s;
}

header .contentHeader ul .productsHeader:hover {
  background-color: white;
  color: rgb(58, 58, 58);
}

.nav-item .footerHeader {
  margin-left: 6px;
  text-decoration: none;
  color: rgb(58, 58, 58);
  background-color: rgb(255, 255, 255);
  font-size: 24px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  transition: 0.3s;
}

header .contentHeader ul .footerHeader:hover {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

#sectionProducts {
  margin-top: 70px;
  margin-left: 60px;
}
.contentProducts {
  display: flex;
  justify-content: space-between;
}

.contentProducts h1 {
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.buttonViewAll li {
  list-style-type: none;
  display: flex;
  justify-content: left;
  margin-right: 60px;
  margin-top: 80px;
}

.buttonViewAll li a {
  border: black 1px solid;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.buttonViewAll li a:hover {
  background-color: black;
  color: white;
}

.buttonLeftArrow {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 110px;
  bottom: -745px;
  transition: 0.3s;
}

.buttonLeftArrow:hover {
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
  color: white;
}

.fa-arrow-left:before {
  font-size: 18px;
}

.buttonRightArrow {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 60px;
  bottom: -745px;
  transition: 0.3s;
}

.buttonRightArrow:hover {
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
  color: white;
}

.fa-arrow-right:before {
  font-size: 18px;
}

.products {
  display: flex;
  justify-content: left;
  gap: 30px;
  margin-top: 40px;
  height: 500px;
  overflow-x: auto;
}

.products::-webkit-scrollbar {
  display: none;
}

.exProduct1 {
  max-height: 450px;
  max-width: 250px;
  min-width: 250px;
}

.exProduct1 img {
  height: 70%;
  width: 100%;
}

.exProduct1 .contentProduct1 {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}

.exProduct1 li {
  list-style-type: none;
  margin-top: 11px;
  text-align: center;
}

.exProduct1 li .buttonAddToCart {
  background-color: white;
  text-decoration: none;
  color: black;
  border: black solid 1px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  padding-left: 36%;
  padding-right: 35%;
  transition: 0.3s;
}

.exProduct1 li .buttonAddToCart:hover {
  background-color: black;
  color: white;
}

#sectionLinks {
  margin-top: 40px;
  background-color: white;
}

#sectionLinks img {
  height: 45px;
  width: 120px;
  margin-left: 46px;
  margin-right: 60px;
  margin-top: 50px;
}

.email h4 {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 3px;
  margin-left: 60px;
  margin-right: 60px;
}

.email a {
  font-size: 15px;
  margin-left: 60px;
  margin-right: 60px;
}

.number h4 {
  font-size: 15px;
  margin-top: 15px;
  margin-left: 60px;
  margin-right: 60px;
}

.number p {
  font-size: 14px;
  margin-top: 4px;
  margin-left: 60px;
  margin-right: 60px;
}

#Links {
  list-style: none;
  display: flex;
  justify-content: left;
  gap: 10px;
  margin-top: 14px;
  margin-left: 60px;
  margin-right: 60px;
  height: 90px;
}

#Links li a {
  font-size: 15px;
  transition: 0.3s;
}

#Links li a:hover {
  color: rgb(141, 141, 141);
}

#divBorderFooter {
  border-bottom: 1px solid rgb(0, 0, 0);
  margin-left: 60px;
  margin-right: 60px;
}

footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

footer .rightSideFooter {
  margin-top: 30px;
  margin-right: 60px;
  font-size: 15px;
}

footer .leftSideFooter {
  margin-top: 30px;
  margin-left: 60px;
  font-size: 15px;
}
