* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#logo {
  position: absolute;
  left: 46px;
  top: 2px;
  height: 45px;
  width: 120px;
}

nav {
  background-color: rgb(255, 255, 255);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: right;
  height: 50px;
  gap: 20px;
  margin-right: 60px;
}

.nav-item {
  margin-top: 13px;
  cursor: pointer;
}

.nav-item-register {
  margin-top: 13px;
  cursor: pointer;
}

.nav-item-login {
  margin-top: 13px;
  cursor: pointer;
}

.nav-item-cart {
  margin-top: 13px;
  cursor: pointer;
}

#registerAssets input {
  background-color: white;
  border: 0px white solid;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}

#registerAssets input:hover {
  color: rgb(141, 141, 141);
}

.nav-item-manege {
  margin-top: 13px;
  display: none;
  cursor: pointer;
}

.logo {
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: rgb(141, 141, 141);
}

.login {
  margin-left: 15px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  border: 1px solid rgb(0, 0, 0);
  padding: 7px;
  border-radius: 8px;
  padding-left: 26px;
  padding-right: 26px;
  transition: 0.3s;
}

.navbar .nav-item-login .login:hover {
  color: white;
  background-color: black;
}

.Register {
  margin-left: -10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-size: 14px;
  border: 1px solid rgb(0, 0, 0);
  padding: 7px;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
}

.navbar .nav-item-register .Register:hover {
  color: black;
  background-color: white;
  border: 1px black solid;
}

.nav-item-account {
  margin-top: 13px;
}

.account {
  font-size: 14px;
  margin-top: 2px;
  border-left: 1px black solid;
  padding-left: 20px;
}

#logoutButton {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-size: 14px;
  border: 1px solid rgb(0, 0, 0);
  margin-top: -6px;
  padding: 7px;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
}

#logoutButton:hover {
  color: black;
  background-color: white;
  border: 1px black solid;
}

#sectionProducts {
  margin-top: 60px;
  margin-left: 60px;
}
.contentProducts {
  display: flex;
  justify-content: space-between;
}

.contentProducts h1 {
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.buttonViewAll li {
  list-style-type: none;
  display: flex;
  justify-content: left;
  margin-right: 60px;
  margin-top: 80px;
}

.buttonViewAll li a {
  border: black 1px solid;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
}

.buttonViewAll li a:hover {
  background-color: black;
  color: white;
}

.buttonLeftArrow {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 110px;
  bottom: 180px;
  transition: 0.3s;
}

.buttonLeftArrow:hover {
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
  color: white;
}

.fa-arrow-left:before {
  font-size: 18px;
}

.buttonRightArrow {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 60px;
  bottom: 180px;
  transition: 0.3s;
}

.buttonRightArrow:hover {
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
  color: white;
}

.fa-arrow-right:before {
  font-size: 18px;
}

.buttonLeftArrowFree {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 110px;
  bottom: -530px;
  transition: 0.3s;
}

.buttonLeftArrowFree:hover {
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
  color: white;
}

.fa-arrow-left:before {
  font-size: 18px;
}

.buttonRightArrowFree {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 60px;
  bottom: -530px;
  transition: 0.3s;
}

.buttonRightArrowFree:hover {
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
  color: white;
}

.fa-arrow-right:before {
  font-size: 18px;
}

.buttonRightArrowRealistic {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 60px;
  bottom: -1240px;
  transition: 0.3s;
}

.buttonRightArrowRealistic:hover {
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
  color: white;
}

.fa-arrow-right:before {
  font-size: 18px;
}

.buttonLeftArrowRealistic {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 110px;
  bottom: -1240px;
  transition: 0.3s;
}

.buttonLeftArrowRealistic:hover {
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
  color: white;
}

.fa-arrow-left:before {
  font-size: 18px;
}

.freeProducts {
  display: flex;
  justify-content: left;
  gap: 30px;
  margin-top: 40px;
  height: 500px;
  overflow-x: auto;
}

.freeProducts::-webkit-scrollbar {
  display: none;
}

.realisticProducts {
  display: flex;
  justify-content: left;
  gap: 30px;
  margin-top: 40px;
  height: 500px;
  overflow-x: auto;
}

.realisticProducts::-webkit-scrollbar {
  display: none;
}

.buttonRightArrowCartoon {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 60px;
  bottom: -1924px;
  transition: 0.3s;
}

.buttonRightArrowCartoon:hover {
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
  color: white;
}

.fa-arrow-right:before {
  font-size: 18px;
}

.buttonLeftArrowCartoon {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 110px;
  bottom: -1924px;
  transition: 0.3s;
}

.buttonLeftArrowCartoon:hover {
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
  color: white;
}

.fa-arrow-left:before {
  font-size: 18px;
}

.cartoonProducts {
  display: flex;
  justify-content: left;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 500px;
  overflow-x: auto;
}

.cartoonProducts::-webkit-scrollbar {
  display: none;
}

.products {
  display: flex;
  justify-content: left;
  gap: 30px;
  margin-top: 40px;
  height: 500px;
  overflow-x: auto;
}

.products::-webkit-scrollbar {
  display: none;
}

.exProduct1 {
  max-height: 450px;
  max-width: 250px;
  min-width: 250px;
}

.exProduct1 img {
  height: 70%;
  width: 100%;
}

.exProduct1 .contentProduct1 {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.exProduct1 li {
  list-style-type: none;
  margin-top: 11px;
  text-align: center;
}

.exProduct1 li .buttonAddToCart {
  background-color: white;
  text-decoration: none;
  color: black;
  border: black solid 1px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  padding-left: 36%;
  padding-right: 35%;
  transition: 0.3s;
}

.exProduct1 li .buttonAddToCart:hover {
  background-color: black;
  color: white;
}

.exProduct1Free {
  max-height: 450px;
  max-width: 250px;
  min-width: 250px;
}

.exProduct1Free img {
  height: 70%;
  width: 100%;
}

.exProduct1Free .contentProduct1 {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.exProduct1Free li {
  list-style-type: none;
  margin-top: 11px;
  text-align: center;
}

.exProduct1Free li .buttonAddToCart {
  background-color: white;
  text-decoration: none;
  color: black;
  border: black solid 1px;
  padding-top: 8px;
  border-radius: 5px;
  padding-bottom: 8px;
  padding-left: 36%;
  padding-right: 35%;
  transition: 0.3s;
}

.exProduct1Free li .buttonAddToCart:hover {
  background-color: black;
  color: white;
}

.exProduct1Realistic {
  max-height: 450px;
  max-width: 250px;
  min-width: 250px;
}

.exProduct1Realistic img {
  height: 70%;
  width: 100%;
}

.exProduct1Realistic .contentProduct1 {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.exProduct1Realistic li {
  list-style-type: none;
  margin-top: 11px;
  text-align: center;
}

.exProduct1Realistic li .buttonAddToCart {
  background-color: white;
  text-decoration: none;
  color: black;
  border: black solid 1px;
  padding-top: 8px;
  border-radius: 5px;
  padding-bottom: 8px;
  padding-left: 36%;
  padding-right: 35%;
  transition: 0.3s;
}

.exProduct1Realistic li .buttonAddToCart:hover {
  background-color: black;
  color: white;
}

.exProduct1Cartoon {
  max-height: 450px;
  max-width: 250px;
  min-width: 250px;
}

.exProduct1Cartoon img {
  height: 70%;
  width: 100%;
}

.exProduct1Cartoon .contentProduct1 {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.exProduct1Cartoon li {
  list-style-type: none;
  margin-top: 11px;
  text-align: center;
}

.exProduct1Cartoon li .buttonAddToCart {
  background-color: white;
  text-decoration: none;
  color: black;
  border: black solid 1px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  padding-left: 36%;
  padding-right: 35%;
  transition: 0.3s;
}

.exProduct1Cartoon li .buttonAddToCart:hover {
  background-color: black;
  color: white;
}

footer {
  border-top: 1px solid black;
  margin-right: 60px;
  margin-left: 60px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

footer .rightSideFooter {
  margin-top: 30px;
  font-size: 15px;
}

footer .leftSideFooter {
  margin-top: 30px;
  font-size: 15px;
}
